:root {
  --margin: 12px;
  --form-height: 36px;

  --dark-color: #0c0c10;
  --border-color: #6c757d;
  --main-color: #ebac78;
  --orange-color: #b86d00;
  --blue-color: #0073bb;
}

@font-face {
  font-family: DukeFill;
  src: url("/font/dukeFill/Duke Fill.otf") format("opentype");
}

.orange {
  color: var(--orange-color);
}
.blue {
  color: var(--blue-color);
}

html > body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue,
    Noto Sans, Liberation Sans, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  display: flex;
  flex-direction: column;
  height: 100%;
}
html > body a {
  text-decoration: none;
}
html > body > header {
  height: 60px;
  background-color: var(--dark-color);
  border-bottom: 1px solid var(--border-color);
}
html > body > header > a {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
html > body > header > a > img {
  height: 24px;
  margin: 18px 24px;
}
html > body > footer {
  padding: calc(var(--margin) / 2) var(--margin);
  border-top: 1px solid var(--border-color);
  background-color: var(--dark-color);
  color: white;
  display: flex;
}
html > body > footer > .alert {
  color: #f44336;
  margin-left: var(--margin);
  cursor: pointer;
}
html > body > footer > .alert:hover {
  text-decoration: underline;
}
html > body > main {
  background-image: url(/img/wallpaper.webp);
  background-size: cover;
  background-position: center center;
  flex: 1;
  position: relative;
}
html > body > main > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
.right {
  margin-left: auto;
  width: 50%;
  height: 100%;
  right: 5%;
  padding: calc(var(--margin) * 2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
}
.right > .center {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right > .center > div {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.right > .center > div > div {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  padding-right: var(--margin);
}
.right > .center > div > div > video {
  width: fit-content;
  height: fit-content;
  position: absolute;
  opacity: 0;
  cursor: default;
  top: -10000vh;
  left: -10000vw;
}
.right > .center > div > div > .box {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  background-color: var(--dark-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: calc(var(--margin) * 2);
  color: white;
  text-align: center;
}
.right > .center > div > div > .box > p {
  margin: 0;
}
#spinner {
  margin-bottom: calc(var(--margin) * 2);
}
.right > .center > div > div > #games {
  background-color: var(--dark-color);
  color: white;
  border-collapse: collapse;
}
.right > .center > div > div > #games > tbody > tr > * {
  border: 1px solid var(--border-color);
}
.right > .center > div > div > #games > tbody > tr > *:not(.buttons) {
  padding: calc(var(--margin) / 2) var(--margin);
}
.right > .center > div > div > #games > tbody > tr > th {
  background-position: center center;
  background-size: cover;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.right > .center > div > div > #games > tbody > tr > td > p {
  margin: 0;
}
.right > .center > div > div > #games > tbody > tr > td.infos {
  width: 100%;
}
.right > .center > div > div > #games > tbody > tr > td.buttons {
  padding: calc(var(--margin) / 2);
}
.right > .center > div > div > #games > tbody > tr > td.buttons > div {
  display: flex;
  gap: calc(var(--margin) / 2);
}
